.company-logo-icon,
.placeholder-icon {
  position: relative;
  width: 160px;
  height: 40px;
  flex-shrink: 0;
  display: none;
}
.placeholder-icon {
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.text {
  position: relative;
  font-size: var(--text-button-semibold-large-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--text-l-regular);
  color: var(--base-white);
  text-align: left;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.chevron-down-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.dropdown,
.text-input1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
}
.text-input1 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  height: 22px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.dropdown {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text-input,
.text-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.text-input-container {
  gap: var(--gap-45xl);
}
.button3,
.button5 {
  cursor: pointer;
  border: 0;
}
.button5 {
  padding: var(--padding-xs) var(--padding-lg);
  background-color: var(--primary-600);
  border-radius: var(--br-7xs);
  box-shadow: var(--shadow-xsm);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.button3 {
  padding: 0;
  background-color: transparent;
  justify-content: flex-end;
  gap: var(--gap-5xl);
}
.button3,
.container,
.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container {
  width: 1280px;
  flex-shrink: 0;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  justify-content: space-between;
}
.page-header {
  align-self: stretch;
  border-bottom: 1px solid var(--primary-400);
  padding: var(--padding-xl) 160px;
  justify-content: center;
  z-index: 1;
}
.card-child {
  position: relative;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  overflow: hidden;
}
.a-tiffin-service {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 60px;
}
.award-ribbon-1 {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 48px;
  display: none;
}
.this-is-an {
  flex: 1;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 26px;
}
.horizontal-container2,
.subtitle-icon {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.subtitle-icon {
  flex-direction: row;
  gap: var(--gap-5xs);
  font-size: var(--font-size-lg);
  color: var(--primary-200);
}
.horizontal-container2 {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.button7 {
  border-radius: var(--br-7xs);
  background-color: var(--primary-600);
  box-shadow: var(--shadow-xsm);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
}
.text6 {
  position: relative;
  font-size: var(--text-button-semibold-large-size);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--text-l-regular);
  color: var(--primary-600);
  text-align: left;
}
.arrowright-icon {
  position: relative;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.button6,
.button8 {
  flex-direction: row;
  align-items: center;
}
.button8 {
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: none;
  justify-content: center;
  gap: var(--gap-7xs);
}
.button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.trusted-and-tested {
  flex: 1;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 20px;
  font-weight: 500;
}
.text-input2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-input-child {
  position: relative;
  width: 41px;
  height: 41px;
  flex-shrink: 0;
  object-fit: cover;
}
.company-logo-icon1,
.company-logo-icon2 {
  position: relative;
  width: 112px;
  height: 28px;
  flex-shrink: 0;
  overflow: hidden;
}
.company-logo-icon2 {
  width: 128px;
  height: 32px;
  display: none;
}
.text-input3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.text-input-container1 {
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-s-regular-size);
}
.hero-base,
.horizontal-container,
.text-input-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.horizontal-container {
  height: 528px;
  flex-shrink: 0;
  justify-content: flex-end;
  gap: 80px;
}
.hero-base {
  flex: 1;
  justify-content: center;
}
.background {
  position: absolute;
  top: -44px;
  left: 195.5px;
  border-radius: var(--br-77xl);
  background-color: var(--base-white);
  width: 488px;
  height: 656px;
}
.image-1-icon,
.image-1-icon1 {
  position: absolute;
  left: 195.5px;
  height: 328px;
  object-fit: cover;
}
.image-1-icon {
  top: -44px;
  border-radius: var(--br-77xl);
  width: 488px;
}
.image-1-icon1 {
  top: 284px;
  border-radius: 95.8px;
  width: 477px;
}
.hero-3-desktop {
  position: relative;
  border-radius: var(--br-3xs);
  width: 528px;
  height: 528px;
  flex-shrink: 0;
}
.card,
.hero {
  display: flex;
  align-items: center;
}
.card {
  width: 1280px;
  flex-direction: row;
  padding: 48px var(--padding-13xl) 80px;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  z-index: 0;
}
.hero {
  background-color: #044545;
  width: 1440px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  font-size: 52px;
  color: var(--base-white);
}
.of-the-industry {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 20px;
  font-weight: 600;
  display: none;
}
.headline {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 40px;
}
.moms-gourmet-is {
  margin: 0;
}
.subtitle {
  align-self: stretch;
  position: relative;
  font-size: var(--text-l-regular-size);
  letter-spacing: -0.1px;
  line-height: 24px;
  color: var(--gray-50);
}
.headline-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--headline-m-desktop-semibold-size);
  color: var(--gray-700);
}
.block-header,
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-container {
  width: 800px;
  gap: var(--gap-5xs);
}
.block-header {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  color: var(--primary-600);
}
.icon {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.icon-placeholder {
  border-radius: var(--br-11xl);
  background-color: var(--primary-600);
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs);
  align-items: center;
  justify-content: center;
}
.all-food-prepared {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 30px;
  font-weight: 600;
}
.text-container1 {
  align-self: stretch;
  gap: var(--gap-xs);
}
.content2,
.features-base,
.text-container1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  gap: var(--gap-xl);
}
.features-base {
  flex: 1;
  border-radius: var(--br-8xs);
}
.icon1 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.features-base3 {
  flex: 1;
  border-radius: var(--br-8xs);
  display: none;
}
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-13xl);
}
.content {
  width: 1280px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  font-size: var(--headline-xs-desktop-semibold-size);
}
.text7 {
  position: relative;
  line-height: 22px;
  font-weight: 600;
}
.button10,
.button9 {
  border-radius: var(--br-7xs);
  box-shadow: var(--shadow-xsm);
  width: 128px;
  flex-shrink: 0;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-lg);
  gap: var(--gap-7xs);
}
.button9 {
  background-color: var(--base-white);
  border: 1px solid var(--neutral-700);
  box-sizing: border-box;
  display: none;
  align-items: center;
  justify-content: center;
}
.button10 {
  background-color: var(--primary-600);
  display: flex;
  color: var(--base-white);
}
.block-footer,
.button10,
.features {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.block-footer {
  width: 1280px;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-base);
  font-size: var(--text-button-semibold-large-size);
}
.features {
  background-color: var(--base-white);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) 0;
  gap: var(--gap-45xl);
}
.engage-audience-segments {
  align-self: stretch;
  position: relative;
  font-size: var(--text-l-regular-size);
  letter-spacing: -0.1px;
  line-height: 24px;
  color: var(--gray-50);
  display: none;
}
.paragraph-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button11 {
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
  font-size: var(--text-button-semibold-large-size);
  color: var(--primary-600);
}
.container1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}
.check,
.check1,
.container1,
.left-to-right-base {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.check1 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
}
.check,
.left-to-right-base {
  flex-direction: column;
}
.check {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.left-to-right-base {
  flex: 1;
}
.photo-icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: 280px;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.content9,
.leftright {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.leftright {
  width: 560px;
  height: 560px;
  flex-shrink: 0;
  justify-content: center;
}
.content9 {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 124px;
  font-size: var(--headline-xs-desktop-semibold-size);
}
.block-header2,
.button16 {
  display: none;
  align-items: center;
  justify-content: center;
}
.block-header2 {
  width: 1280px;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  color: var(--primary-600);
}
.button16 {
  border-radius: var(--br-8xs);
  overflow: hidden;
  flex-direction: row;
}
.our-never-ending-reviews {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 70px;
  font-weight: 500;
  -webkit-text-stroke: 1px #000;
}
.avatar,
.status-icon {
  flex-shrink: 0;
  display: none;
}
.status-icon {
  position: absolute;
  margin: 0 !important;
  top: 28px;
  left: 28px;
  width: 14px;
  height: 14px;
  z-index: 0;
}
.avatar {
  border-radius: var(--br-31xl);
  width: 40px;
  height: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(./public/avatar@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.ceo,
.dave-jones {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 22px;
  font-weight: 500;
}
.ceo {
  font-size: var(--text-s-regular-size);
  line-height: 20px;
  color: var(--gray-50);
}
.avatar-description,
.paragraph-container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-description {
  width: 107px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--text-button-semibold-large-size);
}
.five-stars-rating-icon-golden- {
  position: relative;
  width: 315px;
  height: 39px;
  flex-shrink: 0;
  object-fit: cover;
}
.amazing-meal-cooked {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  display: inline-block;
  width: 715px;
  height: 43px;
  flex-shrink: 0;
}
.avatar-description1,
.horizontal-container4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.horizontal-container4 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 var(--padding-135xl);
  gap: var(--gap-13xl);
}
.avatar-description1 {
  width: 107px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.purely-the-taste {
  position: relative;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 715px;
  height: 43px;
  flex-shrink: 0;
}
.horizontal-container3,
.horizontal-container5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.horizontal-container5 {
  align-self: stretch;
  padding: 86px var(--padding-135xl) 0;
  align-items: center;
  gap: var(--gap-13xl);
  text-align: left;
  font-size: var(--text-button-semibold-large-size);
}
.horizontal-container3 {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--neutral-100);
  padding: var(--padding-13xl);
  align-items: flex-start;
}
.container4,
.content10 {
  display: flex;
  align-items: center;
}
.content10 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.container4 {
  width: 1280px;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-31xl);
}
.blog-base-child {
  position: relative;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  object-fit: cover;
}
.text-container10 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.blog-base,
.blog-base1,
.item,
.text-container10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item {
  align-self: stretch;
  justify-content: flex-start;
}
.blog-base,
.blog-base1 {
  flex: 1;
  border-radius: var(--br-8xs);
  height: 451px;
  justify-content: center;
  gap: var(--gap-5xl);
}
.blog-base1 {
  height: 402px;
}
.block-header4,
.content11 {
  width: 1280px;
  display: flex;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.content11 {
  flex-direction: row;
  gap: var(--gap-13xl);
  font-size: var(--headline-xs-desktop-semibold-size);
}
.block-header4 {
  flex-direction: column;
}
.press-logo-icon {
  position: relative;
  width: 128px;
  height: 32px;
  flex-shrink: 0;
  overflow: hidden;
}
.logos {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-45xl);
}
.content12 {
  width: 1280px;
  display: none;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  justify-content: flex-start;
}
.block-footer4,
.content12,
.logo-section {
  box-sizing: border-box;
  align-items: center;
}
.block-footer4 {
  width: 1280px;
  display: none;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  justify-content: center;
  gap: var(--gap-base);
  font-size: var(--text-button-semibold-large-size);
  color: var(--gray-700);
}
.logo-section {
  background-color: var(--base-white);
  width: 1440px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-45xl) 0;
  justify-content: flex-start;
  gap: var(--gap-45xl);
  color: var(--primary-600);
}
.headline5 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.01em;
  line-height: 42px;
  font-weight: 600;
}
.paragraph-container5 {
  width: 752px;
  gap: var(--gap-base);
}
.button23,
.content13,
.paragraph-container5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content13 {
  width: 752px;
  justify-content: center;
}
.label,
.text20 {
  position: relative;
  letter-spacing: -0.1px;
}
.label {
  align-self: stretch;
  line-height: 20px;
  font-weight: 500;
  display: none;
}
.text20 {
  flex: 1;
  line-height: 22px;
}
.text-input4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.information-icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
}
.text-input-container3 {
  flex: 1;
  border-radius: var(--br-7xs) 0 0 var(--br-7xs);
  background-color: var(--base-white);
  border: 1px solid var(--neutral-700);
  box-sizing: border-box;
  height: 46px;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.button24,
.text-input-container2,
.text-input-container3 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.button24 {
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background-color: var(--primary-600);
  padding: var(--padding-xs) var(--padding-lg);
  align-items: center;
  justify-content: center;
  gap: var(--gap-7xs);
  color: var(--base-white);
}
.text-input-container2 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  box-shadow: var(--shadow-xsm);
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--text-button-semibold-large-size);
  color: var(--gray-25);
}
.hint-text {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 20px;
  color: var(--gray-50);
  display: none;
}
.card1,
.input-field,
.segmented-picker {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.input-field {
  align-self: stretch;
  box-shadow: var(--shadow-xsm);
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.card1,
.segmented-picker {
  align-items: center;
}
.segmented-picker {
  width: 752px;
  padding: 0 120px;
  box-sizing: border-box;
}
.card1 {
  text-align: left;
  font-size: var(--text-s-regular-size);
}
.call-to-action,
.content-ccenter {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.content-ccenter {
  width: 1280px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-13xl);
}
.call-to-action {
  background-color: var(--neutral-50);
  width: 1440px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-45xl) 0;
  text-align: center;
  font-size: var(--headline-m-desktop-semibold-size);
}
.generate-outside-the-container {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 24px;
  display: inline-block;
  width: 247px;
}
.text-input-container4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--neutral-800);
}
.placeholder-icon40 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.features1 {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 24px;
  font-weight: 600;
}
.footer-links {
  border-radius: var(--br-8xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.link {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 24px;
  font-weight: 500;
}
.vertical-container {
  display: flex;
  gap: var(--gap-xs);
  color: var(--neutral-800);
}
.card2,
.vertical-container,
.vertical-container2 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card2 {
  display: none;
  gap: var(--gap-5xl);
}
.vertical-container2 {
  align-self: stretch;
  display: flex;
  gap: var(--gap-xs);
  color: var(--neutral-800);
}
.generate-outside-the,
.label1 {
  position: relative;
  letter-spacing: -0.1px;
}
.generate-outside-the {
  line-height: 24px;
  display: inline-block;
  width: 302px;
}
.label1 {
  align-self: stretch;
  line-height: 20px;
  font-weight: 500;
  color: var(--neutral-200);
  display: none;
}
.button-container,
.button26 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button26 {
  flex: 1;
  border-radius: var(--br-7xs) 0 0 var(--br-7xs);
  background-color: var(--gray-600);
  border: 1px solid var(--gray-300);
  box-sizing: border-box;
  height: 46px;
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  gap: var(--gap-5xs);
}
.button-container {
  align-self: stretch;
  border-radius: var(--br-7xs);
  align-items: flex-start;
  font-size: var(--text-button-semibold-large-size);
}
.hint-text1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.1px;
  line-height: 20px;
  display: none;
}
.input-field1,
.vertical-container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-field1 {
  width: 302px;
  gap: var(--gap-5xs);
  font-size: var(--text-s-regular-size);
}
.vertical-container3 {
  gap: var(--gap-5xl);
}
.horizontal-container6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.lookscout-all-rights {
  position: relative;
  letter-spacing: -0.1px;
  line-height: 24px;
}
.social-platforms-logo {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.rating,
.text-input7 {
  display: flex;
  flex-direction: row;
}
.rating {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.text-input7 {
  align-self: stretch;
  border-top: 1px solid var(--gray-300);
  padding: 24px 0 0;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  color: var(--neutral-800);
}
.links {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: 48px;
}
.footer,
.landing-page,
.links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  background-color: var(--gray-950);
  width: 1440px;
  padding: var(--padding-45xl) 0;
  box-sizing: border-box;
  align-items: center;
  font-size: var(--text-l-regular-size);
  color: var(--neutral-200);
}
.landing-page {
  position: relative;
  background-color: var(--base-white);
  width: 100%;
  align-items: flex-start;
  text-align: left;
  font-size: var(--text-s-regular-size);
  color: var(--gray-700);
  font-family: var(--text-l-regular);
}
